.register-form {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #e0de4d;
}

.button {
    background-color: #e0de4d;
    padding: 15px 45px;
    margin-top: 30px;
    margin-left: 25%;
    border-radius: 10px;
    border: 1px solid #fbff00;
}

.button:hover {
    opacity: 0.8;
}

.form {
    margin-left: 5%;
}

.title {
    display: flex;
    margin-bottom: 10px;
}

.input-text {
    background-color: #e0de4d;
    padding: 10px 47px 10px 7px;
    margin-right: 25px;
    border: 1px solid #e0de4d;
    width: 35%;
}

.select {
    border: 1px solid #e0de4d;
    width: 50%;
}

.sup {
    color: rgb(255, 0, 0);
}

